.header {
    background-color: rgb(0, 255, 255);
    color: rgb(65, 105, 225);
    padding: 10px 20px;
    text-align: center;
    margin: 10px auto;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.header__title {
    color: rgb(65, 105, 225);
    padding: 10px 20px;
    text-align: center;
    margin: 10px auto;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.header__image {
    border-radius: 50%;
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
}