.main {
    border: 10px double rgb(24, 59, 233);
    border-radius: 10px;
    padding: 20px;
    line-height: 1.5;
}

.main__header {
    color: red;
}

.main__section {
    font-family: 'Petit Formal Script', cursive;
    color: rgb(51 82 175);
    background-color: #43df3061;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    margin-bottom: 15px;
    outline: 5px solid red;
    font-size: 20px;
}

.main__offer {
    display: flex;
    flex-direction: row;
    color: rgb(24 15 11 / 78%);
    background-color: rgb(29 62 226 / 34%);
    border: 5px groove rgb(24, 59, 233);
    border-radius: 10px;
    overflow-x: auto;
}

.main__offerSection {
    padding: 5px 10px;
    margin: 10px auto;
}

.main__priceOffer {
    margin: 10px auto;
    overflow-x: auto;
}

.main__button {
    margin-top: 15px;
    color: aqua;
    background-color: black;
    border-radius: 20px;
    cursor: pointer;
}