.nav {
    background-color: aliceblue;
}

.nav__list {
    display: flex;
    padding: 10px;
    justify-content: center;
}

.nav__listItem {
    list-style-type: none;
    padding: 10px;
}

.nav__listItemLink {
    color: rgb(138, 43, 226);
    text-decoration: none; 
}

.nav__listItemLink:focus {
    outline: 1px solid rgb(0, 0, 0);
}

.nav__listItemLink:hover {
    color: rgb(255, 0, 0);
    border-bottom: 1px solid;
    outline: none;
}

.nav__listItemLink:active {
    color: rgb(0, 0, 0);
}