.nav {
    background-color: aliceblue;
}

.nav__list {
    display: flex;
    padding: 10px;
    justify-content: center;
}

.nav__listItem {
    list-style-type: none;
    padding: 10px;
}

.nav__listItemLink {
    color: blueviolet;
    text-decoration: none; 
}

.nav__listItemLink:focus {
    outline: 1px solid black;
}

.nav__listItemLink:hover {
    color: red;
    border-bottom: 1px solid;
    outline: none;
}

.nav__listItemLink:active {
    color: black;
}