html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: rgba(128, 128, 128, 0.251);
    text-align: center;
    max-width: 1500px;
    padding: 20px;
    margin: 10px auto;
    font-family: 'Titillium Web', sans-serif;
}

.hidden {
    display: none;
}